<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp304_group1_microproject6"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.comp304_group1_microproject6.FirstPageActivity"
            android:label="@string/title_activity_first_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.comp304_group1_microproject6.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.comp304_group1_microproject6.MainActivity"
            android:label="@string/title_activity_graphical_guessing_game" >
        </activity>
        <activity
            android:name="com.example.comp304_group1_microproject6.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.comp304_group1_microproject6.GraphicalGuessingGame"
            android:label="@string/title_activity_login" 
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.example.comp304_group1_microproject6.ScoreScreen"
            android:label="@string/title_score_screen" >
        </activity>
    </application>

</manifest>
